/**
 * =================================================================================
 * COLORS
 * =================================================================================
 */

$white-color: #fff;

$background-color: #fafafb;

$primary-gray-color: #363636;
$secondary-gray-color: #565656;
$tertiary-gray-color: #777; 

$primary-blue-color: #0866ff;
$secondary-blue-color: #3e82f1;
$tertiary-blue-color: #084dbc;