/**
 * =================================================================================
 * COLORS
 * =================================================================================
 */

$primary-blue-color: #0866ff;
$secondary-blue-color: #3e82f1;

$background-color: #3e82f1;