/**
 * =================================================================================
 * COMPONENTS
 * =================================================================================
 */

.load-more {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    width: 100%;

    &__button {
        width: 208px !important;
    }
}