/**
 * =================================================================================
 * CONTACT
 * =================================================================================
 */

.contact {
    display: flex;
    justify-content: center;
    width: 100%;

    &__box {
        background: $blue-color-2;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 12px 18px 12px 18px;
        row-gap: 16px;
        width: 100%;
    }

    &__item {
        column-gap: 10px;
        display: flex;
        height: 46px;
        width: max-content;
    }

    &__icon {
        align-items: center;
        color: $white-color;
        display: flex;
        font-size: 34px;
        height: 46px;
        justify-content: center;
        width: 46px;
    }

    &__info {
        align-items: center;
        display: flex;
        height: 100%;
        width: max-content;
    }
    
    &__detail {
        color: $white-color;
        font-family: $font-exo-2;
        font-size: 1.01rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 610px) {
    .contact {
        &__box {
            column-gap: 12px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 900px) {
    .contact {
        &__box {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 12px 30px 12px 30px;
            row-gap: 0;
        }
    }
}

@media screen and (min-width: 1090px) {
    .contact {
        &__box {
            width: max-content;
        }
    }
}