/**
 * =================================================================================
 * DEPARTMENTS
 * =================================================================================
 */

.departments {
    @include default-shadow();
    background: $white-color;
    margin: 0 0 40px 0;
    width: 100%;

    &__wrapper {
        align-items: center;
        background: transparent;
        display: flex;
        height: 100%;
        margin: 0 auto;
        max-width: 1280px;
        padding: 10px 18px 10px 18px;
        position: relative;
        width: 100%;
    }

    &__previous,
    &__next {
        color: $blue-color-2;
        cursor: pointer;
        font-size: 14px;
        position: absolute;

        &:hover {
            color: $blue-color-1;
        }
    }

    &__previous {
        left: 4px;
    }

    &__next {
        right: 4px;
    }

    &__list {
        display: flex;
        margin: 0 auto;
        user-select: none;
        width: 100%;
    }

    &__item {
        width: max-content !important;
    }

    &__button {
        padding: 0 22px 0 22px !important;
    }
}

@media screen and (min-width: 420px) {
    .departments {
        &__wrapper {
            padding: 10px 20px 10px 20px;
        }

        &__previous {
            left: 6px;
        }

        &__next {
            right: 6px;
        }
    }
}

@media screen and (min-width: 636px) {
    .departments {
        &__wrapper {
            padding: 10px 30px 10px 30px;
        }

        &__previous {
            left: 10px;
        }

        &__next {
            right: 10px;
        }
    }
}

@media screen and (min-width: 800px) {
    .departments {
        &__wrapper {
            padding: 10px 40px 10px 40px;
        }

        &__previous {
            left: 16px;
        }

        &__next {
            right: 16px;
        }
    }
}