/**
 * =================================================================================
 * MIXINS
 * =================================================================================
 */

@mixin input-text {
    border: none;
    outline: none;
}

@mixin button {
    border: none;
    cursor: pointer;
    line-height: 0;
    outline: none;
    padding: 0 0 0 0;
}