/**
 * =================================================================================
 * PRODUCTS
 * =================================================================================
 */

.products {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    min-width: 0;
    width: 100%;

    &__item {
        width: 100%;
    }
}

@media screen and (min-width: 520px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 786px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1090px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}