/**
 * =================================================================================
 * SECTION
 * =================================================================================
 */

section,
.section {
    min-width: 0;
    width: 100%;

    &__heading {
        align-items: center;
        color: $gray-color-1;
        display: flex;
        font-family: $font-exo-2;
        font-weight: 700;
        height: max-content;
        justify-content: start;
        padding: 8px 0 8px 0;
        text-transform: uppercase;
        width: 100%;

        .heading {
            &__icon {
                align-items: center;
                color: $blue-color-2;
                display: flex;
                font-size: 12px;
                height: 16px;
                justify-content: center;
                margin: 0 6px 0 0;
                width: 16px;
            }

            &__title {
                width: 100%;
            }

            &__navigation {
                column-gap: 6px;
                display: flex;
                height: 100%;
                width: max-content;

                .navigation {
                    &__previous, &__next {
                        @include default-border-radius();
                        align-items: center;
                        background: $blue-color-2;
                        color: $white-color;
                        cursor: pointer;
                        display: flex;
                        font-size: 10px;
                        height: 20px;
                        justify-content: center;
                        width: 20px;
                    }
                }
            }
        }
    }

    &__content {
        margin: 20px 0 0 0;
    }
}